:root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: #3586ff;
}
.spacer {
  height: 100px;
  width: 280px;
  margin-bottom: 50px;
}
.app {
  display:flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  overflow: auto;
  height: 100vh;
  width: 100vw;
}
.nav {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5px;
  z-index: 100000;
}
.button:hover{
  transform: scale(0.9);
}
.modals-enter {
  opacity: 0;
  transform: translateY(100vh);
}
.modals-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 200ms;
  transition: opacity 600ms, transform 600ms;
}
.modals-exit {
  opacity: 1;
}
.modals-exit-active {
  opacity: 0;
  transform: translateY(100vh);
  transition: opacity 200ms, transform 200ms;
}
.screen {
  display:flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  height: 600px;
}
@keyframes dive-in {
  0%{
    transform: translateY(100vh); 
  }
  100%{
    transform: translateY(0); 
  }  
}
