:root {
  margin: 0px;
  padding: 0px;
  background: #001330;
  color: aliceblue;
}
.bar {
  top: 0;
  position: absolute;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
.app {
  width: 100vw;
  height: 75vh;
  position: relative;
  display:flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  z-index: 1000;
  top: 10vh;
}
.nav {
  width: 100vw;
  height: 10vh;
  position: absolute;
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  z-index: 100000;
  bottom: 0;
}
.modals-enter {
  opacity: 0;
  transform: translateY(100vh);
}
.modals-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 600ms, transform 600ms;
}
.modals-exit {
  opacity: 1;
}
.modals-exit-active {
  opacity: 0;
  transform: translateY(100vh);
  transition: opacity 200ms, transform 200ms;
}